.App {
  font-family: 'PT Sans';
}

.AppHeader {
  text-align: center;
}

.Headshot img {
  zoom: 1;
  filter: alpha(opacity=25);
  opacity: 0.25;
  transition: opacity 2s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

.Headshot img:hover {
  filter: alpha(opacity=1);
  opacity: 1;
}

.Networks {
  text-align: center;
}

.Networks ul {
  list-style-type: none;
}

.Networks ul > li {
  display: inline;
  margin: 0 1em;
}
